@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: Poppins;
}

.bg-nav {
    background-color: #141414;
    color: #ffffff;
    position: relative;
    z-index: 10000000000000000;
}

.bg-nav .nav-link-title {
    color: #ffffff;
}

.nav-link-title{
    transition: .2s;
}

.nav-link-title:hover {
    transition: .2s;
    border-bottom: 2px solid #FF3A00;
}

.bg-screen {
    background-color: #ffffff;
}

.brd_orange {
    border-bottom: 2px solid #FF3A00;
}

.bg_orange {
    background-color: #FF3A00;
    color: #141414;
}

.icon {
    --tblr-icon-size: 1.75rem;
}

footer {
    position: fixed;
    background-color: #141414;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 12px;
    width: 100%;
}

footer p, a {
    margin: 0px;
    font-size: 12px;
    color: #ffffff;
}

.alert {
    width: 400px;
    position: absolute;
    left: 37.5%; 
    top: 70px;
}

.btn-drop-images-gallery {
    position: absolute;
    padding: 4px;
    border-radius: 0px 0px 3px 0px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }

  .main-wrapper {
    backdrop-filter: blur(10px);
  }

@media screen and (max-width: 768px) {
    .btn-action-categories {
        padding: 5px;
    }
    .form-add-category {
        margin-top: 30px;
    }

    .btn-action-properties {
        padding: 5px 12px;
    }

    .form-label {
        font-size: 0.8rem;
    }

    .container-start-properties {
        padding: 2rem !important;
    }

    .navbar .navbar-toggler {
        color: #ffffff;
    }

    .navbar-toggler {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 3px;
        right: 3px;
    }

    .navbar-expand-md .navbar-collapse .navbar-nav .nav-link {
        justify-content: center;
    }

}
