@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: Poppins;
}

body {
    background-color: #ffffff;
}

.bg-nav {
    background-color: #141414;
    color: #ffffff;
    position: relative;
    z-index: 10000000000000000;
}

.bg-nav .nav-link-title {
    color: #ffffff;
}

.nav-link-title {
    transition: 0.2s;
}

.nav-link-title:hover {
    transition: 0.2s;
    border-bottom: 2px solid #fb5000;
}

.bg-screen {
    background-color: #ffffff;
}

.brd_orange {
    border-bottom: 2px solid #fb5000;
}

.bg_orange {
    background-color: #fb5000;
    color: #141414;
}

.icon {
    --tblr-icon-size: 1.75rem;
}

footer {
    position: fixed;
    background-color: #141414;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 12px;
    width: 100%;
}

footer p,
a {
    font-size: 12px;
    color: #ffffff;
}

.alert {
   margin: 0px;
}

.btn-drop-images-gallery {
    position: absolute;
    padding: 4px;
    border-radius: 0px 0px 3px 0px;
}

#myVideo {
    height: 727px;
}

.main-wrapper {
    backdrop-filter: blur(10px);
}

.nav-link {
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.nav-active {
    color: #fb5000 !important;
}

.separator {
    background-color: #141414;
    height: 30px;
    margin-top: -6px;
}

.container-hero-banner {
    position: absolute;
    top: 520px;
    left: 267px;
}

.hero-banner__title {
    font-size: 64px;
    color: #ffffff;
    font-weight: 400;
    line-height: 71px;
}

.hero-banner__title_2 {
    font-size: 64px;
    color: #ffffff;
    font-weight: 400;
    line-height: 71px;
    margin-bottom: 42px;
}

.btn-hero {
    background-color: #fb5000;
    color: #ffffff;
    border: none;
    padding: 12px 44px;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px;
}

.vector-col {
    background-image: url(../images/Vector-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 385px;
}

.about-us-section {
    margin-top: -50px;
    position: relative;
}

.img-about-us-section {
    position: absolute;
    top: 119px;
    right: 170px;
}

.about-us-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-us-column div {
    width: 60%;
}

.about-us-column h1 {
    color: #fb5000;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 60px;
}

.about-us-column p {
    margin-bottom: 45px;
}

.btn-about-us {
    background-color: #fb5000;
    color: #ffffff;
    border: none;
    padding: 12px 95px;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px;
}

.topics-section {
    position: relative;
    background-color: #141414;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-separator {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
}

.ct-head h1 {
    color: #fb5000;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 900;
}

.ct-head p {
    color: #ffffff;
    font-size: 15px;
}

.btn-topics {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #fb5000;
    color: #ffffff;
    border: none;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px;
}

.art-1 {
    background-image: url(../images/ARTE-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
}

.vector-find-home {
    background-image: url(../images/FIND-HOME.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 385px;
}

.form-find-home h1 {
    color: #141414;
    font-size: 69px;
    font-weight: 800;
    line-height: 65px;
}

.find-home-section form {
    width: 56%;
}

.find-home-section .form-select {
    border: 2px solid #fb5000;
    color: #141414;
    font-size: 14px;
    font-weight: 300;
}

.find-home-section .form-label {
    font-size: 12px;
    font-weight: 700;
    color: #141414;
}

.btn-find-home {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #fb5000;
    color: #ffffff;
    border: none;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px;
}

.photo-gallery-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.get-an-estimate-section {
    background-color: #141414;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-an-estimate-section h1 {
    color: #ffffff;
    font-size: 69px;
    font-weight: 800;
    line-height: 65px;
}

.get-an-estimate-vector {
    position: absolute;
    right: 0px;
    top: 5036px;
}

.get-an-estimate-form {
}

.get-an-estimate-form .form-label {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
}

.get-an-estimate-form .form-control {
    background-color: transparent;
    border: 2px solid #fb5000;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}

.get-an-estimate-testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 2px solid #ffffff;
}

.get-an-estimate-testimonial div {
    width: 80%;
}

.get-an-estimate-testimonial div img {
    margin-bottom: 20px;
}

.get-an-estimate-testimonial div p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}

.get-an-estimate-testimonial h2 {
    color: #fb5000;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}

.name-and-stars-testimonial {
    display: flex;
}

.name-and-stars-testimonial ul {
    display: flex;
    margin-bottom: 11px;
    list-style: none;
}

.name-and-stars-testimonial li {
    display: flex;
    align-items: center;
}

.name-and-stars-testimonial .icon {
    width: 30px;
    color: #fb5000;
}

.art-2 {
    background-image: url(../images/art-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.art-2-vector-orange {
    position: absolute;
    top: 5936.7px;
    left: 1033px;
}
.art-2-vector-black {
    position: absolute;
    top: 6630.7px;
    left: 827px;
}

.art-2 h1 {
    font-size: 110.12px;
    font-weight: 900;
    line-height: 105.71px;
    letter-spacing: -0.02em;
    text-align: left;
    text-transform: uppercase;
    color: #fb5000;
    margin-bottom: 40px;
}

.art-2 p {
    font-size: 46.41px;
    font-weight: 400;
    line-height: 49.66px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #141414;
    margin-bottom: 40px;
}

.btn-art-2 {
    margin-top: 20px;
    background-color: #141414;
    color: #fb5000;
    padding: 12px 82px;
    font-size: 15.54px;
    font-weight: 700;
    line-height: 17.25px;
    letter-spacing: 0.31em;
    text-align: center;
}

.footer-mega {
    height: 500px;
    background-color: #fb5000;
    padding-top: 90px;
    position: relative;
    z-index: 9999999999999;
}

.logo-and-social-column ul {
    margin-top: 40px;
    list-style: none;
    padding: 0px;
    justify-content: center;
    gap: 30px;
}

.logo-and-social-column .icon {
    color: #141414;
}

.footer-mega h4 {
    font-size: 18px;
    font-weight: 900;
    line-height: 27px;
    text-align: center;
}

.link-column ul {
    list-style: none;
    padding: 0px;
}

.link-column ul li {
    text-align: center;
}

.link-column ul li a {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
    line-height: 22.5px;
    text-align: center;
}

.office-column h4 {
    font-size: 18px;
    font-weight: 900;
    line-height: 27px;
    text-align: left;
}

.office-column ul {
    list-style: none;
    padding: 0px;
}

.office-column ul li a {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
    line-height: 22.5px;
}

.office-column ul li a .icon {
    width: 18px;
}

.developed-column {
    color: #ffffff;
}

.developed-column .up-arrow {
    position: fixed;
    z-index: 99999999999999999999999;
    right: 20px;
    bottom: 20px;
    padding: 15px 10px;
    border-radius: 100%;
    background-color: #fb5000;
    box-shadow: 1px 1px 10px #14141461;
}

.developed-column .up-arrow .icon {
    width: 40px;
}

.contact-us-section {
    background-image: url(../images/327f6684f29e5672e11d63e0f5c43227.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1350px;
}

.contact-us-section h1,
p,
form,
.social-row {
    position: relative;
    z-index: 2;
}

.contact-us-section h1 {
    color: #fb5000;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.04px;
    text-align: left;
}

.form-contact-us-column {
    padding-top: 90px;
    padding-left: 140px;
}

.contact-us-paragraph {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.8px;
    text-align: left;
}

.contact-us-sub-paragraph {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.contact-us-vector {
    position: absolute;
    z-index: 1;
    top: 85px;
    width: 963px;
}

.form-contact-us-column .form-label {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
}

.form-contact-us-column .form-control {
    background-color: transparent;
    border: 2px solid #fb5000;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}

.social-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.12em;
    text-align: left;
    margin-top: 30px;
}

.social-row a {
    padding-right: 15px;
}

.constructions-section {
    background-image: url(../images/0b9f91c3d7cfa9909b86096c065e4fbf.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 805px;
}

.constructions-section img {
    position: absolute;
    right: 0px;
    z-index: 1;
}

.constructions-presentation div {
    width: 500px;
    position: relative;
    z-index: 2;
}

.constructions-presentation h1 {
    color: #141414;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.04px;
    text-align: left;
    margin-bottom: 40px;
}

.constructions-presentation p {
    color: #141414;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.76px;
    text-align: left;
    margin-bottom: 40px;
}

.constructions-presentation a {
    background-color: #ffffff;
    color: #141414;
    padding: 10px 100px;
    font-size: 16.23px;
    font-weight: 700;
    line-height: 18.01px;
    letter-spacing: 0.31em;
    text-align: center;
}

.get-an-estimate-vector-constructions {
    position: absolute;
    right: 0px;
    top: 897px;
}

.featured-projects {
    background-color: #ffffff;
    height: 850px;
}

.featured-projects .col-md-4,
.col-md-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-projects h1 {
    color: #141414;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.04px;
    text-align: right;
}

.featured-projects p {
    color: #141414;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.76px;
    text-align: left;
}

.completed-projects {
    background-image: url(../images/4c69e372208d3b54dd05fa76a9306aa6.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 900px;
}

.completed-projects img {
    position: absolute;
    left: 827px;
}

.completed-projects h1 {
    position: absolute;
    top: 2720px;
    text-align: right;
    font-size: 64px;
    color: #141414;
    font-weight: 700;
    line-height: 71.04px;
    right: 400px;
}

.investment-section {
  background-image: url(../images/analog-landscape-city-with-buildings.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1100px;
}

.investment-section img {
  position: absolute;
    right: 0px;
    top: 83px;
}

.investment-presentation-form div {
  width: 60%;
  position: relative;
  z-index: 2;
}

.investment-presentation-form h1 {
  color: #fb5000;
  font-size: 64px;
  font-weight: 700;
  line-height: 71.04px;
  text-align: left;
  margin-bottom: 40px;
}

.investment-presentation-form .form-label {
  color: #fb5000;
  font-family: Poppins;
    font-size: 12.32px;
    font-weight: 700;
    line-height: 18.48px;
    letter-spacing: 0.155em;
    text-align: left;
}

.investment-presentation-form .investment-presentation-subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.64px;
  text-align: left;
}

.investment-presentation-form .investment-presentation-paragraph {
  color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.76px;
    text-align: left;
    margin-bottom: 40px;
}

.btn-investment {
    background-color: #fb5000;
    color: #ffffff;
    border: none;
    padding: 10px 95px;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px;
}

.help-us-section {
    padding-top: 80px;
    padding-bottom: 80px;   
}

.help-us-section h2 {
    color: #fb5000;
    font-size: 42.46px;
    font-weight: 700;
    line-height: 47.13px;
    letter-spacing: -0.04em;
    text-align: left;
    width: 100%;
}

.help-us-section p {
    color: #141414;
    font-size: 26.54px;
    font-weight: 500;
    line-height: 29.45px;
    letter-spacing: -0.04em;
    text-align: left;
    width: 100%;

}

.help-us-section h1 {
    color: #141414;
    font-size: 71.84px;
    font-weight: 700;
    line-height: 79.74px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 20px;
}

.careers-section {
    background-image: url(../images/bdd748a92e4dbf62e8d8e565255e3c2a.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1120px;
}

.careers-section h1,
p,
form,
.social-row {
    position: relative;
    z-index: 2;
}

.careers-section h1 {
    color: #fb5000;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.04px;
    text-align: left;
}

.development-section {
    background-image: url(../images/eeee9d53524431f14a74f15277ad87af.jpeg) !important;
    background-size: cover;
    background-position-x: -480px;
    background-position-y: -220px;
}

.completed-projects-development {
    position: relative;
}

.completed-projects-development h1 {
    top: 70px;
}

.find-your-dream-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.find-your-dream-section h1 {
    color: #141414;
    font-size: 67.68px;
    font-weight: 700;
    line-height: 75.13px;
    letter-spacing: -0.04em;
    text-align: left;
}

.find-your-dream-section h2 {
    color: #141414;
    font-size: 41px;
    font-weight: 400;
    line-height: 45.51px;
    letter-spacing: -0.04em;
    text-align: left;
}

.property-card {
    box-shadow: 2px 2px 10px #00000019;
}

.property-card-header {
    height: 185px;
}

.property-card-header img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: 0px -75px;
}

.property-card-body {
    padding: 12px;
}

.property-price {
    color: #fb5000;
    font-size: 20px;
    font-weight: 700;
    line-height: 22.2px;
    letter-spacing: -0.05em;
    text-align: left;
}

.property-info {
    color: #141414;
    font-size: 14.47px;
    font-weight: 400;
    line-height: 16.06px;
    text-align: left;

}

.property-address {
    color: #141414;
    font-size: 14.47px;
    font-weight: 400;
    line-height: 16.06px;
    text-align: left;

}

.mega-info {
    color: #141414;
    font-size: 8px;
    font-weight: 600;
    line-height: 8.88px;
    letter-spacing: 0.11em;
    text-align: left;
}

.btn-find-your-dreams {
    display: flex;
    justify-content: center;
    background-color: #fb5000;
    color: #ffffff;
    border: none;
    padding: 12px 95px;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px;
}

.our-story-section {
    background-color: #ffffff;
    position: relative;
    height: 700px;
}

.our-story-vector {
    position: absolute;
    top: 0px;
    right: 0px;
}

.our-story-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-story-col div {
    width: 60%;
}

.our-story-col div h1 {
    color: #fb5000;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.04px;
    text-align: left;
    margin-bottom: 40px;
}

.our-story-col div p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.76px;
    text-align: left;
    margin-bottom: 40px;
}

.btn-our-story {
    display: flex;
    justify-content: center;
    background-color: #fb5000;
    color: #ffffff;
    border: none;
    padding: 12px 95px;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px; 
}

.group-and-logo-mega {
    position: absolute;
    z-index: 2;
    top: 77px;
    right: 250px;
}

.our-missin-vision-section {
    background-color: #ffffff;
    position: relative;
    height: 632px;
}

.our-mission-vision-vector {
    position: absolute;
}

.our-mission-vision-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-mission-vision-column div {
    width: 85%;
}

.our-mission-vision-column div h2 {
    color: #141414;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 44.4px;
    text-align: left;
    margin-bottom: 30px;
}

.our-mission-vision-column div p {
    color: #141414;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.76px;
    text-align: left;
}

.our-values-section {
    background-color: #fb5000;
    height: 625px;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.our-values-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fff;
}

.our-values-text div {
    width: 60%;
}

.our-values-text h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 44.4px;
    letter-spacing: 0.17em;
    text-align: left;
    margin-bottom: 40px;
}

.our-values-text p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 19.98px;
    text-align: left;
}

.our-values-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

.our-values-icons h3 {
    color: #141414;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    line-height: 17.76px;
}

.our-values-icons p {
    color: #141414;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.5px;
}

.value-box img {
    margin-bottom: 25px;
}

.our-legacy-section {
    background-color: #ffffff;
    height: 900px;
}

.usa-flag-bg {
    background-image: url(../images/d7591e15089aaf7928bd013e01925ec4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.our-legacy-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-legacy-column div {
    width: 65%;
}


.our-legacy-column h1 {
    color: #141414;
    font-size: 40px;
    font-weight: 700;
    line-height: 44.4px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-bottom: 30px;
}

.our-legacy-column p {
    color: #141414;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.76px;
    text-align: left;
    margin-bottom: 30px;
}

.clients-feedback-section {
    position: relative;
    height: 810px;
    background-color: #141414;
}

.clients-feedback-title {
    color: #fb5000;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.04px;
    text-align: left;
}

.clients-feedback-column {
    position: relative;
    padding: 0px 50px;
}

.clients-feedback-column img {
    margin-bottom: 25px;
}

.clients-feedback-column p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    margin-bottom: 40px;
}

.client-name-stars h3 {
    color: #fb5000;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.client-name-stars .icon {
    color: #fb5000;
}

.our-partners-section {
    padding: 80px 0px;
}

.our-partners-section h1 {
    color: #141414;
    font-size: 70px;
    font-weight: 800;
    line-height: 105px;
}

.clients-feedback-column-border {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
}

.our-properties-banner {
    background-image: url(../images/f5e9d2f1be532c54d7a4f50587203180.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -470px;
    height: 550px;
    position: relative;
    border-bottom: 15px solid #fb5000;
}

.search-text-column h1 {
    color: #fb5000;
    font-size: 60px;
    font-weight: 700;
    line-height: 66.6px;
    text-align: left;
}

.search-text-column h3 {
    color: #141414;
    font-size: 43px;
    font-weight: 500;
    line-height: 64.5px;
    text-align: left;
}

.form-search-column .form-control    {
    border: 1px solid #fb5000;
}

.form-search-column .form-label    {
    color: #141414;
    font-size: 12.32px;
    font-weight: 700;
    line-height: 18.48px;
    letter-spacing: 0.07em;
    text-align: left;
    margin-bottom: 0px;
}

.form-search-column .btn-serach    {
    background-color: #fb5000;
    color: #141414;
    height: 70%;
    width: 100%;
    border: none;
    position: absolute;
    bottom: 0px;
    border-radius: 8px;
}

.search-map-column {
    border-top: 18px solid #fb5000;
}

.search-map-column {
    padding: 0px;
}

.search-map-column img {
    width: 100%;
}

.property-main-delatils-column h1{
    color: #141414;
    font-size: 38.3px;
    font-weight: 700;
    text-align: left;

}

.property-main-delatils-column p {
    color: #141414;
    font-size: 17.7px;
    font-weight: 300;
    line-height: 26.55px;
    text-align: left;   
}

.property-main-delatils-column .property-address {
    color: #141414;
    font-family: Poppins;
    font-size: 14.36px;
    font-weight: 300;
    line-height: 21.55px;
    text-align: center;
}

.property-main-delatils-column .property-price {
    color: #141414;
    font-family: Poppins;
    font-size: 42.49px;
    font-weight: 700;
    line-height: 63.73px;
    text-align: left;
    margin-bottom: 20px;
}

.btn-request-a-tour {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fb5000;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    letter-spacing: 0.27em;
    text-align: center;
    width: 100%;
    height: 52px;
}

.btn-contact-agent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #fb5000;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    letter-spacing: 0.27em;
    text-align: center;
    width: 100%;
    height: 52px;
    border: 2px solid #fb5000;
}

.property-images img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    object-position: 10px -410px;
}

.property-info-column h1 {
    color: #141414;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
}

.property-info-column span {
    color: #141414;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.property-info-column p {
    color: #141414;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 530px;
}

.btn-videos, .btn-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px;
    background-color: #141414;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    gap: 10px;
}

.btn-blueprint {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px;
    background-color: #ffffff;
    color: #141414;
    font-size: 17px;
    font-weight: 700;
    border: 2px solid #141414;
    gap: 10px;
}

.property-diff-row {
    padding-bottom: 20px;
    border-bottom: 2px solid #efefef;
}

.property-diff-column h2 {
    color: #141414;
    font-size: 16px;
    font-weight: 700;
    line-height: 17.76px;
    text-align: left;
    margin-bottom: 30px;
}

.property-diff-column span {
    color: #141414;
    font-size: 12px;
    font-weight: 500;
}

.virtual-tour-row h1 {
    color: #141414;
    font-size: 39px;
    font-weight: 700;
    line-height: 44.07px;
    text-align: left;
    margin-bottom: 30px;
}

.btn-virtual-tour {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fb5000;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    line-height: 28.5px;
    letter-spacing: 0.27em;
    text-align: center;
    width: 100%;
    height: 62px;
    text-transform: uppercase;
}

.property-price-and-info-column h2 {
    color: #141414;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
}

.property-price-and-info-column p {
    color: #141414;
    font-size: 14px;
    font-weight: 300;
}

.property-info-column {
    font-size: 12px;
    font-weight: 300;
    color: #141414;
}

.property-info-column .icon {
    width: 1.3rem;
}

.property-info-beds-column {
    padding: 0px 60px;
}

.property-info-beds-column h2 {
    color: #141414;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
}

.property-info-beds-column p {
    color: #141414;
    font-size: 14px;
    font-weight: 300;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    font-size: 140px;
    color: #fb5000;
    position: absolute;
    top: 300px;
}

.owl-carousel .owl-nav button.owl-prev {
    left: -115px;
}

.owl-carousel .owl-nav button.owl-next {
    right: -115px;
}

.carousel-get-an-estimate {
    margin-left: 80px;
}

.carousel-get-an-estimate-indicators {
    bottom: -70px;
    left: -225px;
}

.carousel-indicators-dot [data-bs-target] {
    background-color: #ffffff;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #fb5000;
}

@media screen and (max-width: 768px) {

    #myVideo {
        height: 70vh;
        display: block;
        object-fit: cover;
        width: 100%;
    }

    .col-img-nav {
        text-align: start !important;
        padding-left: 20px;
    }

    .footer-mega {
        height: 840px;
    }

    .btn-action-categories {
        padding: 5px;
    }
    .form-add-category {
        margin-top: 30px;
    }

    .btn-action-properties {
        padding: 5px 12px;
    }

    .form-label {
        font-size: 0.8rem;
    }

    .container-start-properties {
        padding: 2rem !important;
    }

    .navbar .navbar-toggler {
        color: #fb5000;
    }

    .navbar-toggler-icon {
        margin-top: 50px;
    }

    .navbar-expand-md .navbar-collapse {
        background-color: #141414;
        padding: 20px 0px;
        position: absolute;
        width: 100%;
        left: 0px;
        border-bottom: 2px solid #fb5000;
    }

    .navbar-toggler {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 3px;
        right: 3px;
    }

    .navbar-expand-md .navbar-collapse .navbar-nav .nav-link {
        justify-content: center;
    }
    .our-story-vector {
        top: 600px;
    }

    .group-and-logo-mega {
        display: none;
    }


    .our-story-col div {
        width: 90%;
    }

    .btn-our-story {
        font-size: 12px;
    }

    .our-mission-vision-vector {
        display: none;
    }

    .our-story-col div p {
        text-align: justify;
    }

    .our-mission-vision-column div p {
        text-align: justify;
    }

    .our-values-text div {
        width: 90%;
    }

    .our-values-text h1 {
        font-size: 41px;
    }

    .our-values-text p {
        text-align: justify;
    }

    .our-values-section {
        height: 2035px;
    }

    .our-legacy-section {
        padding-top: 80px;
        height: 1790px;
    }

    .our-legacy-column div {
        width: 90%;
    }

    .our-legacy-column {
        align-items: start;
        margin-bottom: -290px;
    }

    .clients-feedback-section {
        padding: 80px 20px; 
        height: 1700px;
    }

    .clients-feedback-column {
        position: relative;
        padding: 40px 0px;
    }

    .clients-feedback-column p {
        font-size: 20px;
        text-align: justify;
    }

    .clients-feedback-column-border {
        border: none;
    }

    .vector-find-home {
        padding: 150px;
    }

    .form-find-home {
        padding-top: 80px;
    }

    .form-find-home h1 {
        font-size: 49px;
        text-align: center;
    }

    .find-home-section form {
        width: 90%;
    }

    .our-partners-section h1 {
        font-size: 49px;
        line-height: 55px;
    }

    .constructions-section img {
        top: 400px;
    }

    .constructions-presentation div {
        width: 340px;
        position: absolute;
        top: 410px;
    }

    .constructions-presentation h1 {
        font-size: 35px;
        text-align: right;
    }

    .constructions-presentation p {
        font-size: 14px;
    }

    .constructions-presentation a {
        padding: 10px 102px;
        font-size: 14px;
    }

    .constructions-section {
        height: 965px;
    }

    .featured-projects {
        height: 570px;
    }

    .featured-projects h1 {
        font-size: 66px;
        text-align: center;
    }

    .fetured-projects-vector {
        display: none;
    }

    .featured-projects p {
        text-align: justify;
    }


    .completed-projects {
        height: 460px;
    }

    .get-an-estimate-section {
        height: 1180px;
    }

    .get-an-estimate-vector-constructions {
        display: none;
    }

    .investment-section {
        position: relative;
    }

    .investment-presentation-form div {
        width: 90%;
    }

    .investment-presentation-form h1 {
        font-size: 50px;
        text-align: center;
    }
    .investment-section img {
        top: 531px;
        height: 570px;
    }

    .help-us-section h1 {
        font-size: 40px;
        line-height: 49px;
    }

    .help-us-section h2 {
        text-align: center;
    }

    .help-us-section p {
        text-align: center;
    }

    .investment-icons {
        text-align: center;
    }

    .form-contact-us-column {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .careers-section {
        height: 860px;
        background-image: none;
        background-color: #141414 !important;
    }

    .contact-us-vector {
        display: none;
    }

    .careers-section h1, .contact-us-paragraph, .contact-us-sub-paragraph {
        text-align: center;
    }

    .contact-us-section {
        background-image: none;
        background-color: #141414 !important;
        height: 1020px;
    }

    .contact-us-section h1 {
        font-size: 56px;
        text-align: center;
    }

    .our-properties-banner {
        height: 0px;
        background: none;
    }

    .col-image {
        padding: 0px;
    }

    .col-image img {
        margin-bottom: 40px;
    }

    .search-text-column h1 {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
    }

    .search-text-column h3 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }

    .form-search-column .btn-serach {
        height: 40px;
        position: relative;
    }

    .property-info-column p {
        width: 100%;
        text-align: justify;
    }

    .btn-videos, .btn-photos {
        font-size: 15px;
    }

    .btn-blueprint {
        font-size: 15px;
        gap: 4px;
    }

    .btn-virtual-tour {
        font-size: 16px;
    }

    .property-images img {
        margin-top: 40px;
        height: 370px;
        object-position: 0px 0px;
    }

    .property-main-delatils-column .property-price {
        text-align: center;
    }

    .property-info-beds-column {
        padding: 0px 0.8rem;
    }

    .office-column h4 {
        text-align: center;
    }

    .office-column ul li {
        text-align: center;
    }

    .developed-column {
        text-align: center;
    }

    .hero-banner {
        position: relative;
    }

    .container-hero-banner {
        top: 400px;
        left: 0px;
        padding: 0px 40px;
    }

    .hero-banner__title {
        font-size: 27.52px;
        font-weight: 400;
        line-height: 30.54px;
        text-align: left;
    }

    .hero-banner__title_2 {
        font-size: 27.52px;
        font-weight: 400;
        line-height: 30.54px;
        text-align: left;
        margin-bottom: 26px;
    }

    .btn-hero {
        font-size: 12px;
        display: flex;
        justify-content: center;
        padding: 12px 15px;
    }

    .about-us-section {
        margin-top: -40px;
    }

    .about-us-column div {
        width: 90%;
    }

    .about-us-row {
        flex-direction: column-reverse;
    }

    .vector-col {
        padding: 195px;
    }

    .img-about-us-section {
        top: 36px;
        right: 36px;
        width: 81%;
    }

    .about-us-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .topics-section {
        height: 870px;
    }

    .btn-about-us {
        font-size: 14px;
    }

    .art-1 {
        height: 460px;
        background-position-x: -400px;
    }

    .photo-gallery-section {
        height: 260px;
    }

    .get-an-estimate-section {
        position: relative;
    }

    .get-an-estimate-section h1 {
        color: #ffffff;
        font-size: 40px;
        font-weight: 800;
        line-height: 38px;
        text-align: left;

    }

    .get-an-estimate-vector {
        right: 0px;
        top: 0px;
        width: 120px;
    }

    .get-an-estimate-testimonial {
        margin-top: 40px;
        border-left: none;
    }

    .art-2 h1 {
        font-size: 70.12px;
        line-height: 75.71px;
    }

    .art-2-vector-orange {
        display: none;
    }

    .art-2-vector-black {
        display: none;
    }

    #carousel-indicators-dot .carousel-item img {
        object-fit: cover;
        height: 260px;
    }

    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
        top: 625px;
    }
    
    .owl-carousel .owl-nav button.owl-prev {
        left: 95px;
    }
    
    .owl-carousel .owl-nav button.owl-next {
        right: 95px;
    }
}

